{% extends 'index.html' %}
{%block oportunidades%}
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded shadow-sm">
    <!--<img class="mr-3" src="assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Ajuda sobre a Plataforma</h6>
      <small>Lawebsi</small>
    </div>
  </div>

  <!--Primeiro Container-->
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <article>
        <h4>Tópicos de ajuda PIAC</h4>
        <ul>
          <li><a href="/ordens/home/emconstrucao/">Como funciona!?</a></li>
          <li><a href="/ordens/home/emconstrucao/">Como criar uma ordem de serviço!?</a></li>
          <li>Como verificar as ordens de serviço criadas!?</li>
          <li>Como fechar uma ordem de serviço!?</li>
        </ul>
      </article>
  </div>
{%endblock%}
