{% extends 'index.html' %}
{%block oportunidades%}
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded shadow-sm">
    <!--<img class="mr-3" src="assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Exportar relatórios com KPI's e PPI's</h6>
      <small>Lawebsi</small>
    </div>
  </div>

  <!--Primeiro Container-->
  <div class="my-3 p-3 bg-white rounded shadow-sm">

  </div>
{%endblock%}
